<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>条件渲染</title>
</head>

<body>
    <div id="app">
        v-if后接的是等号：等号后的内容必须是布尔值
        v-if的基本用法：
        <p v-if="6<3">{{apple}}</p>
        <p v-else-if="9>5">{{pineapple}}</p>
        <p v-else>{{banana}}</p>
        <hr>
        v-if的实例用法：
        需求：点击按钮，实现用户名输入框和密码输入框的切换<br>
        v-if的弊端：
            vue在渲染元素时，出于效率考虑，会尽可能地复用已有的元素而非重新渲染，只会渲染变换的元素，也就是说input元素被复用了
        解决方法： 加key，唯一，提供key值可以来决定是否复用该元素
        <div v-if="type==='name'">
            用户名： <input type="text" placeholder="请输入用户名" key='name'>
        </div>
        <div v-else>
            密码： <input type="password" placeholder="请输入密码" key='psd'>
        </div>
        <button @click="toggleType">切换</button>
        <hr>
        v-show用法：显现与否取决于布尔值，v-show只是在css样式中添加display:none属性
        <p v-show="9>a">我被渲染</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                apple: 'apple',
                banana: 'banana',
                pineapple: 'pineapple',
                type:'name',
                a:3
            },
            methods: {
                toggleType:function(){
                    //三目运算符,如果this.type === name ,那把this.type = password ，否则 赋值为 name
                    this.type = (this.type === 'name' ? 'password' : 'name')
                }
            },
        })
    </script>
</body>

</html>